.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

/* .dialog {
} */
.dialogsItems {
  padding: 5px;
}
.dialogsItems .active {
  color: rgb(5, 138, 5);
}
.dialogsItems a:hover {
  text-decoration: underline;
}

.messagesItems {
  padding: 10px;
}

/* .message {
} */
