.app-wrapper {
  display: grid;
  grid-template-areas: 'header header' 'aside main';
  grid-template-rows: 50px 1fr;
  grid-template-columns: 2fr 10fr;
}

.header {
  grid-area: header;
  background: #d55845;
}

.aside {
  grid-area: aside;
  background: #ffff;
}

.main {
  grid-area: main;
  background: #dfdede;
}
