.aside {
  grid-area: aside;
  background: #f2f3f7;
}

a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.aside a:hover {
  text-decoration: underline;
}

.active a {
  color: blue;
}
