.aside {
  grid-area: aside;
  background: #f2f3f7;
}

.aside a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.aside a:hover {
  color: blue;
  text-decoration: underline;
  font-weight: 500;
}
